<main id="profileMain">
<h2>Редактирование профиля</h2>

{{#if User}}
  <div id="edit">
    <form action="/profile/{{id}}/edit" method='POST' name="editForm">
      <p>Имя:</p>
      <input class="newName" type="text" name="newName" value="{{user.firstName}}">
      <p>Фамилия:</p>
      <input class='newLastName' type="text" name="newLastName" value="{{user.lastName}}">

      <p>О вас:</p>
      <input type="text" id="aboutYou" name="aboutYou" value="{{user.aboutMe}}"></input>
      <button type="submit">Редактировать</button>
    </form>
  </div>

{{else}}
  <div id="edit">
    <form action="/profile/{{id}}/edit" method='POST' name="editForm">
      <p>Имя:</p>
      <input class="newName" type="text" name="newName" value="{{mentor.firstName}}">
      
      <p>Фамилия:</p>
      <input class='newLastName' type="text" name="newLastName" value="{{mentor.lastName}}">

      <p>О вас:</p>
      <input type="text" id="aboutYou" name="aboutYou" value="{{mentor.aboutMe}}"></input>
      <button type="submit">Редактировать</button>
    </form>
  </div>
{{/if}}
</main>