{{#if tagSearch}}
  <h2>Менторы, которые применяют {{tagName.tagname}} </h2>
  {{#each stackMentors}}
    <a href="/mentor/{{this._id}}">{{this.firstName}} {{this.lastName}}</a>
    <p>Обо мне: {{this.aboutMe}}</p>
    <p>Опыт: {{this.experience}}</p>
    <p>Технологии:</p>
  {{#each this.stack}}
    <a href="/tag/{{this._id}}">{{this.tagname}}</a>
  {{/each}}
    <hr>
  {{/each}}


{{else}}
  <h2>Наши менторы</h2>
  <div>
  {{#each mentors}}
    <a href="/mentor/{{this._id}}">{{this.firstName}} {{this.lastName}}</a>
    <p>Обо мне: {{this.aboutMe}}</p>
    <p>Опыт: {{this.experience}}</p>
    <p>Технологии:</p>
  {{#each this.stack}}
    <a href="/tag/{{this._id}}">{{this.tagname}}</a>
  {{/each}}
    <hr>
  {{/each}}
  </div>
{{/if}}
